name: __NAME__
dependencies:
  - python=3.7.0
  - pip
  - pip:
    - --find-links https://download.pytorch.org/whl/torch_stable.html
    - cython
    - matplotlib
    - networkx
    - nltk
    - nose
    - numpy
    - ogb
    - pandas
    - psutil
    - pytest
    - requests[security]
    - scikit-learn
    - scipy
    - torch==__TORCH_VERSION__
    - tqdm
variables:
  DGL_HOME: __DGL_HOME__
