name: Pylint

on: [push]

jobs:
  flake8_py3:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8.0
          architecture: x64
      - name: Checkout PyTorch
        uses: actions/checkout@master
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        # NOTE: this needs to be the same as the job name.
        with:
          checkName: 'flake8_py3'   
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
