# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '0 1 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v4.1.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-issue-stale: 30
        days-before-issue-close: -1 # disable issue close
        days-before-pr-stale: -1 # disable stale bot on pr
        days-before-pr-close: -1 # disable stale bot on pr
        stale-issue-message: 'This issue has been automatically marked as stale due to lack of activity. It will be closed if no further activity occurs. Thank you'
        close-issue-message: 'This issue is closed due to lack of activity. Feel free to reopen it if you still have questions.'
        stale-issue-label: 'stale-issue'
        exempt-issue-labels: 'Roadmap,RFC,pinned,bug:confirmed,bug:unconfirmed,dist DGL,doc,enhancement,feature request,help wanted,model request,wontfix,Suspended,system performance,windows,PyTorch,MXNet,TensorFlow'
